.login-container .MuiInputBase-root input {
  padding: 8px 10px;
}

/* NAvbar  */
#demoMenu .MuiMenu-list .link a,
.orgadmin-navbar .MuiAccordionDetails-root .link a {
  font-family: 'chivo';
  text-decoration: none !important;
  color: #505050;
  padding-left: 30px;
}
.orgadmin-navbar .MuiMenu-list .link:hover {
  background-color: #d0e9f4 !important;
  color: #248dc1 !important;
}
.orgadmin-navbar .MuiPaper-root.MuiAccordion-root.Mui-expanded{
  margin: 0px !important;
}
/* Common Dropdown overrided Stylesheet */
.MuiList-root {
  height: auto;
  background-color: #ffffff;
  max-height: 350px;
}

.orgadmin-navbar .MuiList-root .MuiButtonBase-root .Mui-selected {
  background-color: #ffffff;
}

.orgadmin-navbar .MuiList-root li:hover {
  background-color: #c7c7c8;
}

/* Button  */
.header-btn.MuiButtonBase-root {
  color: #fff;
  text-transform: none;
}

.header-btn .MuiTouchRipple-root {
  background-color: transparent;
  color: #fff;
}

/* DataGrid  */
.MuiDataGrid-root{
  border-color: transparent !important;
}
.MuiDataGrid-cell {
  padding: 0;
}
.MuiDataGrid-cell:focus,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
  /* This is use for remove the outline colour after click on cell */
}



/* Common Dropdown overrided Stylesheet */
.MuiList-root {
  height: auto;
  background-color: #ffffff;
  max-height: 350px;
}

.MuiList-root .MuiButtonBase-root .Mui-selected {
  background-color: #ffffff;
}

.MuiList-root li {
  font-family: 'chivo';
}

.MuiList-root li:hover {
  background-color: #c7c7c8;
}
/*common for checkbox label */
.MuiFormControlLabel-label {
  font-family: Chivo !important;
}
/* custom slider css */
.carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  background-color: #fff;
}
.carousel-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
  background-color: #fff;
}
.react-multiple-carousel__arrow--left::before {
  color: #000 !important;
}
.react-multiple-carousel__arrow--right::before {
  color: #000 !important;
}
